**If Statements**

In [ ]:
# These are the conditional statements
x = int(input("Please enter an integer: "))
if x<0:
  print("the input number is negative")
elif x==0:
  print("The input number is zero")
elif x>0:
  print("The input number is positive")

Please enter an integer: -5
the input number is negative

The sequence of elif can be used inplace of swithc case

**For Statements**

In [ ]:
words = ["cat","window","defenestrate"]
for w in words:
  print(w,len(w))

cat 3
window 6
defenestrate 12

In [ ]:
users = {'Hans': 'active', 'Éléonore': 'inactive', '景太郎': 'active'}
active_users = {}
for user,status in users.items():
  if status == 'active':
    active_users[user] = status
print(active_users)

{'Hans': 'active', '景太郎': 'active'}

In [ ]:
#If you need to iterate over a sequence of numbers use range functions
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
# To iterate over the indices of a sequence, you can use range() and len()
a = ['Mary','had','a','little','lamb']
for i in range(len(a)):
  print(i,a[i])

0 Mary
1 had
2 a
3 little
4 lamb

**Use of break and continue statements**

In [ ]:
# the break statements breaks out of the innermost enclosing for or while loop
for n in range(2,10):
  for x in range(2,n):
    if n%x==0:
      print(f"{n} equals {x}*{n//x}")
      break

4 equals 2*2
6 equals 2*3
8 equals 2*4
9 equals 3*3

In [ ]:
# The continue statement continues with the next iteration of the loop
for n in range(2,10):
  if n%2==0:
    print(f"found an even number {n}")
    continue
  print(f"found an odd number {n}")

found an even number 2
found an odd number 3
found an even number 4
found an odd number 5
found an even number 6
found an odd number 7
found an even number 8
found an odd number 9

**Match Statements**

In [ ]:
#The match statements is same used as a switch case
def http_error(status):
  match status:
    case 400:
      return "Bad request"
    case 404:
      return "Not found"
    case 418:
      return "I'm a teapot"

**Defining Functions**

In [13]:
def fib(n):
  result = []
  a , b = 0,1
  while a<n:
      result.append(a)
      a , b = b , a+b
  return result

In [14]:
print(fib(100))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

**Lambda Functions**

In [17]:
pairs = [(1,'one'),(2,'two'),(3,'three')]
pairs.sort(key = lambda pair:pair[1])
pairs

[(1, 'one'), (3, 'three'), (2, 'two')]

In [20]:
#Check whether the input year is lead year or not
year = int(input("Enter the year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
  print(f"{year} is a leap year")
else:
  print(f"{year} is not a leap year")

Enter the year: 2012
2012 is a leap year

In [22]:
#Print a multiplication table (1–10) for a number input by the user.
num = int(input("Enter the number: "))
for i in range(1,11):
  print(i*num,end = ' ')

Enter the number: 11
11 22 33 44 55 66 77 88 99 110

In [25]:
# Write a program that calculates the sum of all even numbers between 1 and 100.
sum = 0
for i in range(2,101):
  if i % 2 == 0:
    sum+=i;
print(f"Sum of even number from 1 to 100 is:{sum}")

Sum of even number from 1 to 100 is:2550

In [27]:
# Loop from 1 to 100. If the number is divisible by 3, skip printing it
#  using continue. Stop the loop if the number is 77 using break.
for i in range(1,101):
  if i % 3 == 0:
    continue
  elif i == 77:
    break
  else:
    print(i,end = ' ')

1 2 4 5 7 8 10 11 13 14 16 17 19 20 22 23 25 26 28 29 31 32 34 35 37 38 40 41 43 44 46 47 49 50 52 53 55 56 58 59 61 62 64 65 67 68 70 71 73 74 76